{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "dynamicImport": true,
            "exportDefaultFrom": false,
            "decorators": true,
            "esModuleInterop": true
        },
        "loose": true,
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true,
            "react": {
                "runtime": "automatic"
            }
        },
        "target": "es2015"
    },
    "module": {
        "type": "es6",
        "globals": {},
        // These are defaults.
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    }
}